<% provide(:title, 'History') %>

<div class="table-container">
  <div class="table-info">
    <h3>BTGA History</h3>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th>Season</th>
          <th>Events</th>
          <th>Champion</th>
        </tr>
      </thead>
      <tbody>
        <% @seasons.all.each do |season| %>
          <tr>
            <td><%= season.year %></td>
            <td></td>
            <td><%= season.champion_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>