<% provide(:title, 'History') %>
<table>
  <thead>
    <tr>
      <th>Season</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @seasons.all.each do |season| %>
        <td><%= season.year %></td>
      <% end %>
    </tr>
  </tbody>
</table>