<% provide(:title, 'Update Tournament') %>
<% provide(:button_text, 'Update Tournament') %>

<div class="form-container">
  <h1>Update Tournament</h1>
  
  <%= render 'form', tournament: @tournament %>
</div>