<% provide(:title, 'Create Tournament') %>
<% provide(:button_text, 'Create Tournament') %>

<div class="form-container">
  <h1>Create a Tournament</h1>

  <%= render 'form', course: @tournament %>
</div>

