<% provide(:title, "Record Book") %>

<div class="table-container">
  <div class="table-info">
    <h3>Record Book</h3>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th>Record</th>
          <th>Golfer</th>
          <th>Value</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <% @records.all.each do |record| %>
          <tr>
            <td><%= record.name %></td>
            <td><%= link_to record.golfer_name, record.golfer %></td>
            <td><%= record.rounded_value %></td>
            <td><%= link_to record.event_name, record.season_tournament %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
