<% provide(:title, "Record Book") %>

<table>
  <% @records.all.each do |record| %>
    <tr>
      <td><%= record.golfer_name %></td>
      <td><%= record.value %></td>
      <td><%= record.event_name %></td>
    </tr>
  <% end %>
</table>