/**************** Main *******************/
$btga-blue: #3c3b6e;
$btga-red: #b22234;
$danger-red: #ffcccb;
$success-blue: #add8e6;

h1, h2, h3, h4, h5, p, td, th, a, label .alert{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  .page-body{
    margin: 0px 10px;
    @media screen and (min-width: 760px) {
      margin: 0px 50px;
    }
  }
}

.alert{
  width: 80%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.alert-danger{
  color: $btga-red;
  border-color: $btga-red;
  background-color: $danger-red;
}

.alert-success{
  color: $btga-blue;
  border-color: $btga-blue;
  background-color: $success-blue;
}

/************* Components *****************/

// Site Header
#site-header{
  background-color: $btga-blue;
  min-height: 60px;
  .navbar{
    display: block;
    overflow: auto;
  }
  #header-logo{
    float: left;
    width: 100px;
    padding-left: 10%;
    margin: 10px 0px 0px;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .navbar-right{
    display: none;
    float: right;
    list-style-type: none;
    padding-right: 10%;
    margin: 20px 0px 0px;
    li{
      display: inline;
      padding: 5px 10px;
    }
    a{
      color: white;
      text-decoration: none;
    }
  }
  .navbar-toggle{
    display: block;
    float: right;
    width: 40px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px 40px 0px 0px;
    .icon-bar{
      border-bottom: 3px solid white;
      display: block;
      width: 30px;
      margin: 5px;
    }
  }
  #mobile-navbar{
    background-color: $btga-blue;
    margin-top: 5px;
    list-style-type: none;
    display: none;
    overflow: auto;
    padding: 0px;
    li{
      text-align: center;
      a{
        display: block;
        padding: 5px 0px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
  }
  .visible{
    display: block !important;
  }
  @media screen and (min-width: 760px) {
    .navbar-right{
      display: block;
    }
    .navbar-toggle{
      display: none;
    }
    .mobile-navbar{
      display: none;
    }
  }
}

// Index Tables
.table-container{
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid $btga-red;
  border-radius: 5px;
  a{
    color: $btga-red;
    text-decoration: none;
  }
  .table-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $btga-red;
    h3{
      padding-left: 10px;
      color: white;
      flex: 0 0 65%;
    }
    a{
      text-align: right;
      padding-right: 10px;
      color: white;
      text-decoration: none;
    }
  }
  .leaderboard-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $btga-red;
    .event-info{
      width: 80%;
      h3{
        padding-left: 10px;
        color: white;
        margin-bottom: 10px;
      }
      p{
        padding-left: 10px;
        margin: 0px 0px 5px;
        color: white;
      }
    }
    a{
      text-align: right;
      padding-right: 10px;
      color: white;
      text-decoration: none;
    }
  }
  .table-wrapper{
    overflow-x: scroll;
    .index-table{
      table-layout: auto;
      width: 100%;
      margin-bottom: 2px;
      border-collapse: collapse;
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #dedede;
      }
      th{
        text-align: left;
        background-color: $btga-blue;
        color: white;
      }
      th, td{
        border: 1px solid #ddd;
        padding: 1px;
      }
    }
    .leaderboard{
      table-layout: auto;
      width: 100%;
      margin-bottom: 2px;
      border-collapse: collapse;
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #dedede;
      }
      th{
        text-align: left;
        background-color: $btga-blue;
        color: white;
      }
      th, td{
        border: 1px solid #ddd;
        padding: 1px;
      }
    }
  }
}

// Forms
.form-container{
  max-width: 800px;
  margin: auto;
  h1{
    text-align: center;
  }
  .field{
    padding-bottom: 10px;
    label{
      color: $btga-red;
      font-size: 1.2em;
    }
    .form-field{
      width: 100%;
      font-size: 1em;
      color: $btga-blue;
      padding: 5px 0px 5px 5px;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
    }
    .form-check{
      display: block;
      clear: both;
    }
  }
}

//Buttons
.button{
  font-size: 1em;
  color: white;
  background-color: $btga-blue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: transform 0.25s;
  &:hover{
    transform: translate(1px, -1px);
  }
}
.finalize-button{
  display: inline-block;
  text-decoration: none;
  color: white;
}
.button-container{
  max-width: 1000px;
  margin: 0px auto;
}

// Event Banner
.event-banner{
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid $btga-blue;
  border-radius: 5px;
  .current-event{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: $btga-blue;
    h3, p {
      margin: 5px 10px;
    }
  }
}