// Main Styles
$btga-blue: #3c3b6e;
$btga-red: #b22234;

h1, h2, h3, h4, h5, p, td, th, a {
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  .page-body{
    margin: 0px 50px;
  }
}

// Components

#site-header{
  background-color: $btga-blue;
  height: 60px;
  #header-logo{
    float: left;
    width: 100px;
    padding-left: 10%;
    margin: 10px 0px 0px;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .navbar-right{
    display: none;
    float: right;
    list-style-type: none;
    padding-right: 10%;
    margin: 20px 0px 0px;
    a{
      color: white;
      text-decoration: none;
    }
  }
  .navbar-toggle{
    display: block;
    float: right;
    width: 40px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px 20px 0px 0px;
    .icon-bar{
      border-bottom: 3px solid white;
      display: block;
      width: 30px;
      margin: 5px;
    }
  }
  @media screen and (min-width: 760px) {
    .navbar-right{
      display: block;
    }
    .navbar-toggle{
      display: none;
    }
  }
}