<% provide(:title, @ryder_cup.name) %>

<h1 id="ryder-cup-banner"><%= @ryder_cup.name %></h1>
<div class="ryder-cup-rosters">
  <div class="table-container" id="team-usa-roster">
    <div class="table-info">
      <h3>Team USA</h3>
    </div>
    <div class="table-wrapper">
      <table class="index-table">
        <% @team_usa.golfers.all.each do |golfer| %>
          <tr>
            <td><%= golfer.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  <div class="table-container" id="team-europe-roster">
    <div class="table-info">
      <h3>Team Europe</h3>
    </div>
    <div class="table-wrapper">
      <table class="index-table">
        <% @team_europe.golfers.all.each do |golfer| %>
          <tr>
            <td><%= golfer.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>